.container
{
  margin-bottom: 14rem;
}
.main
{
margin-top: 2.5rem;
margin-inline: auto;
max-width: 72rem;
padding-inline: 1rem;
}

 /* Breakpoints:
 sm min-width:640px;
 md min-width: 768px;
 lg min-width:1024px;
 xl min-width 1280px;
 2xl min width 1536px; */

 @media (min-width:640px){
   .container{
     padding-inline:1rem;
   }
   .main{
     padding-inline: 1.5rem;
     margin-top:1.5rem
   }
   
 }
 @media (min-width:768px){

.container
{
  padding-inline: 1.2rem;
}
.main{
  padding-inline: 1.6rem;
  margin-top: 1.6rem;
}
 }
 @media (min-width:1024px){

 }
 @media (min-width:1280px){

 }